@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
body{
    font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.08);
}

.glow {
  position: absolute;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.25;
}

.hero-btn {
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
}

.tech-pill {
  transition: all 0.3s ease;
}

.tech-pill:hover {
  transform: scale(1.05);
}